# Allow binder communication with displayengineserver
binder_call(system_server, displayengineserver)

# Allow system_server to find display_engine_service
allow system_server display_engine_service:service_manager find;

# Allow system server to change fingerprint nav properties
allow system_server sys_fpnav_enabled_prop:property_service set;