# Allow binder communication with displayengineserver
binder_call(system_server, displayengineserver)

# Allow system_server to find display_engine_service
allow system_server display_engine_service:service_manager find;

# Allow system_server to read fast charger status path
allow system_server sysfs:file read;
allow system_server sysfs:file open;
